@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
}

body {
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-body-color);
  overflow-x: hidden;
  min-height: 100vh;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

button, input, optgroup, select, textarea {
  font: 400 1rem var(--theme-font-family);
  line-height: 1.15;
  font-size: 100%;
  margin: 0;
}