@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $theme-font-family;
  font-size: $theme-font-size;
}

body {
  background-color: $theme-background-color;
  color: $theme-foreground-body-color;
  overflow-x: hidden;
  min-height: 100vh;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

button, input, optgroup, select, textarea {
  font: 400 1rem $theme-font-family;
  line-height: 1.15;
  font-size: 100%;
  margin: 0;
}