@import '../variables.scss';

#setup-progress {
  padding: 5rem 0;
  display: block;
  > ul {
    counter-reset: progress;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    > li {
      padding: 3rem 5vw 0;
      font-size: 0.75rem;
      position: relative;
      text-align: center;
      margin: 0;
      &::before {
        box-shadow: 0 0 0 0.75rem var(--theme-background-color);
        border: 2px solid var(--theme-element-border-color);
        background-color: var(--theme-background-color);
        margin-left: calc(-1.125rem - 2px);
        counter-increment: progress;
        width: calc(2.25rem + 4px);
        content: counter(progress);
        line-height: 2.25rem;
        font-size: 0.865rem;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        z-index: 1;
        left: 50%;
        top: 0;
      }
      &:not(:last-child)::after {
        background-color: var(--theme-element-border-color);
        position: absolute;
        top: 1.125rem;
        height: 2px;
        width: 100%;
        content: '';
        z-index: 0;
        left: 50%;
      }
      &[state="active"] {
        &::before {
          background-color: var(--theme-accent-secondary-background);
          border-color: var(--theme-accent-secondary-background);
          color: #FFFFFF;
        }
      }
      &[state="complete"] {
        color: var(--theme-accent-primary-background);
        &::before,
        &::after {
          background-color: var(--theme-accent-primary-background);
        }
        &::before {
          border-color: var(--theme-accent-primary-background);
          font-family: 'icomoon';
          font-size: 1.25rem;
          content: '\e918';
          color: #FFFFFF;
        }
      }
    }
  }
}